* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.debug {
    background-color: red;
}

.col-1 {
    width: calc(100% / 12 * 1);
    padding: 1rem;
    flex-grow: 1;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.col-3 {
    width: calc(100% / 12 * 3);
    padding: 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.col-5 {
    width: calc(100% / 12 * 5);
    padding: 1rem;
}

.col-6 {
    width: calc(100% / 12 * 6);
    padding: 1rem;
}

.col-7 {
    width: calc(100% / 12 * 7);
    padding: 1rem;
}

.col-8 {
    width: calc(100% / 12 * 8);
    padding: 1rem;
}

.col-9 {
    width: calc(100% / 12 * 9);
    padding: 1rem;
}

.col-10 {
    width: calc(100% / 12 * 10);
    padding: 1rem;
}

.col-11 {
    width: calc(100% / 12 * 11);
    padding: 1rem;
}

.col-12 {
    width: calc(100% / 12 * 12);
    padding: 1rem;
}

.row {
    flex-wrap: wrap;
    margin: 1rem -1rem;
    position: relative;
}

:root {
    --dropbox-bg-actions: #0061fe;
    --dropbox-jumbo-bg: #b4d0e6;
    --dropbox-plans-duration-color: rgb(148, 146, 146);
    --dropbox-footer-bg-color: black;
    --dropbox-footer-color: white;
}

.d-flex {
    display: flex;
}

.site_header {
    min-height: 70px;
    position: relative;
}

.nav {
    padding: 1rem;
    min-height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 1;
}

#logo {
    align-self: center;
}

ul {
    list-style: none;
}

.nav span {
    padding: 1rem;
}

.nav li {
    padding: 1rem;
}

#register {
    background-color: var(--dropbox-bg-actions);
    color: white;
}

.section_1 {
    min-height: 700px;
    border-bottom: 1px solid lightgrey;
}

.jumbo {
    min-height: 500px;
    background-color: var(--dropbox-jumbo-bg);
}

.container_big {
    width: 900px;
    max-width: 60%;
    margin: auto;
}

.container_small {
    width: 900px;
    max-width: 70%;
    margin: auto;
}

h1 {
    text-align: start;
    font-size: 3rem;
    padding-top: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}

.blue_btn {
    background-color: var(--dropbox-bg-actions);
    color: white;
    padding: 1rem;
    margin: 2rem 0;
    border: none;
}

.arrow_d {
    font-size: 3rem;
    color: black;
    margin-top: 4rem;
}

#dropbox_img {
    position: absolute;
    width: 80%;
    left: 40%;
}

.relative {
    position: relative;
}

.section_2 {
    background-color: white;
    min-height: 500px;
    padding: 2rem;
}

.section_3 {
    min-height: 500px;
    margin: 10rem 0;
}

.section_2 i {
    padding: 5px;
}

.plans {
    padding: 5rem 0;
}

.button_plans {
    width: 90%;
}

.try {
    text-align: center;
}

.type_plan {
    padding: 1rem;
    text-align: center;
}

.card_container {
    width: 90%;
    margin: auto;
    border: 1px solid #e8e8ea;
    height: 100%;
}

.quality_plan {
    padding: 2rem 1rem 1rem 1rem;
    font-size: 20px;
    font-weight: bold;
}

.price_plan {
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: medium;
    font-weight: bold;
}

.duration_plan {
    padding: 1rem;
    color: var(--dropbox-plans-duration-color);
}

.description_plan {
    padding: 2rem 1rem 1rem 1rem;

    li {
        padding: 1rem 0;
    }
}

.buy_now {
    padding: 2rem 1rem 2rem 1rem;
}

#hr_plans {
    width: 60px;
    color: #e8e8ea;
}

.plan_perks {
    padding: 2rem 1rem 1rem 1rem;

    li {
        padding: 1rem 0;
    }
}

.Enterprise {
    padding: 1rem;
}

.description {
    padding: 2rem 1rem 1rem 1rem;
}

.right_side {
    width: 40%;
}

.left_side {
    width: 60%;
}

.col-12_button {
    width: 90%
}

.partner_img {
    width: 60%;
}

.contacts {
    padding: 2rem;
    width: 40%;
}

.contacts h3 {
    font-size: 20px;
    padding: 1rem;
}

.find_partner {
    padding: 1rem;
    line-height: 20px;
}

.partner_btn {
    margin: 20px 0 0 10px;
    padding: 1rem;
    background-color: white;
}

.perks {
    padding: 1rem 0;
}

.card {
    padding: 1rem;
}

.clients {
    margin: 10rem 0;
    width: 55%;
}

a {
    color: blue;
}

.discover {
    padding: 3rem 0 5rem 0;
}

.site_footer {
    min-height: 500px;
    background-color: var(--dropbox-footer-bg-color);
    color: var(--dropbox-footer-color);
}

.type_plan {
    border-bottom: 1px solid #e8e8ea;
}

.blue_btn:hover {
    background-color: black;
    color: white;
}

.partner_btn:hover {
    background-color: black;
    color: white;
}

.footer {
    padding: 3rem 0;
}

.footer_cardmain {
    padding: 1rem 0;
}

.card_content {
    li {
        padding: 8px 0;
        font-size: small;
    }
}

#language {
    color: #818a92;
    margin-top: 2rem;
}

#footer_hr {
    width: 100px
}