* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.debug {
    background-color: red;
}

.col-1 {
    width: calc(100% / 12 * 1);
    padding: 1rem;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.col-3 {
    width: calc(100% / 12 * 3);
    padding: 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.col-5 {
    width: calc(100% / 12 * 5);
    padding: 1rem;
}

.col-6 {
    width: calc(100% / 12 * 6);
    padding: 1rem;
}

.col-7 {
    width: calc(100% / 12 * 7);
    padding: 1rem;
}

.col-8 {
    width: calc(100% / 12 * 8);
    padding: 1rem;
}

.col-9 {
    width: calc(100% / 12 * 9);
    padding: 1rem;
}

.col-10 {
    width: calc(100% / 12 * 10);
    padding: 1rem;
}

.col-11 {
    width: calc(100% / 12 * 11);
    padding: 1rem;
}

.col-12 {
    width: calc(100% / 12 * 12);
    padding: 1rem;
}

.row {
    flex-wrap: wrap;
    margin: 1rem -1rem;
    position: relative;
}

:root {
    --dropbox-bg-actions: #0061fe;
    --dropbox-jumbo-bg: #b4d0e6;
}

.d-flex {
    display: flex;
}

.class_header {
    min-height: 70px;
}

.nav {
    padding: 1rem;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    align-self: center;
}

ul {
    list-style: none;
}

span {
    padding: 1rem;
}

nav li {
    padding: 1rem;
}

#register {
    background-color: var(--dropbox-bg-actions);
    color: white;
}

.section_1 {
    min-height: 700px;
    border-bottom: 1px solid lightgrey;
}

.jumbo {
    min-height: 500px;
    background-color: var(--dropbox-jumbo-bg);
}

.container_jumbo {
    width: 900px;
    max-width: 60%;
    margin: auto;
}

.container_small {
    width: 900px;
    max-width: 50%;
    margin: auto;
}

h1 {
    text-align: start;
    font-size: 3rem;
    padding-top: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}

.blue_btn {
    background-color: var(--dropbox-bg-actions);
    color: white;
    padding: 1rem;
    margin: 2rem 0;
    border: none;
}

.arrow_d {
    font-size: 3rem;
    color: black;
    margin-top: 4rem;
}

#dropbox_img {
    position: absolute;
    width: 80%;
    left: 40%;
}

.relative {
    position: relative;
}

.section_2 {
    background-color: white;
    min-height: 500px;
    padding: 2rem;
}